In [1]:
x= [[1.,-1.,2.],
    [2.,0.,0.,],
    [0.,1.,-1.,]]
x_normalized_l1 = normalize(x, norm='l1') # 1차식
x_normalized_l1

NameError: name 'normalize' is not defined

In [ ]:
from sklearn.preprocessing import normalize
import seaborn as sns

In [ ]:

x_normalized_l2 = normalize(x, norm='l2') # 2차식
x_normalized_l2

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
iris = sns.load_dataset("iris")
y = iris.species
le = LabelEncoder()
le.fit(y)
species = le.transform(y)
species

In [ ]:
iris

In [ ]:
y

In [ ]:
les = le.inverse_transform(species)
les

In [ ]:
species

In [ ]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit(species.reshape(-1,1))

In [ ]:
species.reshape(-1,1)

In [ ]:
iris_onehot = enc.transform(species.reshape(-1,1))
iris_onehot
iris_onehot.toarray()

## 결측값 처리
### sklearn.preprocessing.Imputer(missing_values=nan, strategy=’mean’, verbose=0, copy=True)
- strategy : 결측값을 채울 방법을 지정하며 mean, median, most_frequent가 있다.

In [8]:
import seaborn as sns
iris = sns.load_dataset("iris")
x = iris.iloc[:,:-1]
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [11]:
import random
for col in range(4) : # 결측값 생성
    x.iloc[[random.sample(range(len(iris)), 10)],col] = float('nan')
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           NaN          NaN
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           NaN          0.2

In [19]:
len(iris)

150

In [12]:
x.mean(axis=0) # 평균값 확인

sepal_length    5.827857
sepal_width     3.049286
petal_length    3.787143
petal_width     1.226429
dtype: float64

In [15]:
from sklearn.impute import SimpleImputer
import numpy as np

In [16]:
# 평균으로 채우기

imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit_transform(x)[0:5,:]

array([[5.1       , 3.5       , 1.4       , 0.2       ],
       [4.9       , 3.        , 3.78714286, 1.22642857],
       [4.7       , 3.2       , 1.3       , 0.2       ],
       [4.6       , 3.1       , 1.5       , 0.2       ],
       [5.        , 3.6       , 3.78714286, 0.2       ]])

In [17]:
x.median(axis=0) # 중앙값 확인
imp_mean = SimpleImputer(missing_values=np.nan, strategy='median')
imp_mean.fit_transform(x)[0:5,:]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 4.4, 1.3],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 4.4, 0.2]])

In [18]:
x.mode(axis=0) # 최빈값 확인
imp_mean = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp_mean.fit_transform(x)[0:5,:]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.5, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.5, 0.2]])